.setting
  position: absolute
  top: 0 
  left: 0
  bottom: 0
  display: flex 
  flex-direction: column 
  align-items: center
  min-width: 450px
  background-color: $gray
  min-height: 100vh
  padding: 3rem
  border-right: 1px solid rgba(#C4C4C4, 0.2)
  overflow-y: hidden
  &:scrollbar
    width: 0px;
    opacity: 0
    background: rgba(255, 255, 255, 0.0);

  &__title 
    margin-top: 0
    margin-bottom: 2rem
    text-align: center
    font-weight: 300
  &__subtitle
    font-weight: 200 
    text-align: center 
    margin-top: 2rem
    margin-bottom: 2rem
  &__group-wh
    // width: 100%
    margin-bottom: 1rem
    display: flex 
    align-items: center 
    justify-content: space-between
  &__width 
    width: 48%
    // margin-right: 1rem
  &__height 
    width: 48%
  &__field 
    position: relative
    width: 100%
  &__inpTitle, &__inpText, &__inpUrl
    position: relative
    width: 100%
    margin-bottom: 1rem
    padding-right: 3rem !important
  &__inpTitle-count, &__inpText-count, &__inpURL-count
    position: absolute 
    top: 9px 
    right: 9px
    background-color: $blue
    color: $white
    padding: 0.3rem
    border-radius: 5px
    width: 25px
    height: 25px
    text-align: center
  &__inpText-count
    background: url('../img/in2.svg') no-repeat center / 75%
    background-color: $blue
  &__inpURL-count
    background: url('../img/pic.svg') no-repeat center / 55%
    background-color: $blue
  &__color 
    width: 100%
  &__colorRadio
    display: flex 
    justify-content: space-around
    align-items: center
    margin-bottom: 5rem
  &__code 
    margin-bottom: 5rem
    width: 100%
  &__group-btn
    width: 100%
    display: flex 
    justify-content: space-around
    align-items: center



@media screen and (max-height: 800px)
  .setting 
    overflow: scroll

@media screen and (max-width: 1100px)
  .setting
    min-width: 400px

@media screen and (max-width: 998px)
  .main
    display: flex 
    flex-direction: column-reverse
  .setting
    width: 100%
    position: static

